@charset "UTF-8";

/**
 * Основные стили
 **/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1200px, 15px);
}

h2 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: $default;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: $title-descr;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}

p {
  color: $grey;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}