@charset "UTF-8";

/**
 * Основные стили
 **/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1170px, 15px);
}

h2 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: $default;
  text-transform: uppercase;
}

p {
  color: $grey;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}