@charset "UTF-8";

@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "core";

@import "blocks/header";
@import "blocks/menu";
@import "blocks/slider";
@import "blocks/form";
@import "blocks/program";
@import "blocks/gallery";
@import "blocks/about";
@import "blocks/feture";