.about {
  padding: 125px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    flex-basis: 40%;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    line-height: 22px;
  }

  &__slider {
    flex-basis: 49%;
    max-width: 570px;
    border-radius: 5px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
  }

  &__slider-item {
    height: 300px;
  }

  &__slider-img {
    border-radius: 5px;
    height: 100%;
  }
}

.owl-nav {

  button.owl-prev, button.owl-next {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
  }

  button.owl-next {
    left: auto;
    right: -25px;
  }

  .owl-prev span,
  .owl-next span {
    display: none;
  }

}

@media (max-width: 1200px) {

  .about {
    padding: 100px 0;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: center;
      margin-bottom: 40px;
    }

    &__text {
      margin-bottom: 40px;
    }

  }

}

@media (max-width: 980px) {

  .about {
    padding: 70px 0;
  }

}

@media (max-width: 650px) {

  .about {

    &__container {
      padding: 0 30px;
    }

  }

}
