.blockquote {

  .blockquote-slider {
    position: relative;
    padding: 35px 106px 60px 60px;
    border-radius: 8px;
    background: $white;
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);

    &__item {
      display: flex;
      flex-wrap: wrap;
    }

    &__photo {
      border: 2px solid #d7d7d7;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: relative;
      flex-basis: 28%;
      max-width: 150px;
      margin-right: 40px;
    }

    &__info {
      flex-basis: 65%;
      margin-left: 40px;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }

    &__text {
      position: relative;
      line-height: 22px;
      font-style: italic;
      margin-bottom: 30px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 5px;
        left: -45px;
        width: 20px;
        height: 15px;
        background: url("../img/sprite.png") no-repeat -198px 0;
      }

      &:after {
        background-position: -265px 0;
        top: auto;
        left: auto;
        right: -74px;
        bottom: -22px;
      }
    }

    &__author {
      position: relative;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
      color: $violet;

      &:before {
        content: '';
        position: absolute;
        left: -40px;
        bottom: -40px;
        width: 1px;
        height: 75px;
        background-color: #d7d7d7;
      }
    }

    &__descr {
      display: block;
      color: #777;
      font-weight: 400;
    }

  }

  .owl-carousel .owl-item img {
    width: 125px;
  }

  .owl-dots {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }

  button.owl-dot:last-child {
    margin-bottom: 0;
  }

  .trainer {
    width: 220px;
    display: flex;
    position: relative;
    z-index: 1;
    top: -35px;
    left: 34%;
    transform: translateX(-34%);

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__photo {
      position: relative;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 2px solid #d7d7d7;
      background: $white;
      margin-right: 10px;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }

    &__name {
      font-weight: 700;
    }

    &__descr {
      font-size: 12px;
    }

    .owl-carousel .owl-item img {
      width: 60px;
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      background: $white url("../img/sprite.png") no-repeat -329px 9px;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      border: 0;
      border-radius: 50%;
      box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      outline: 0;
    }

    .owl-carousel .owl-nav button.owl-next {
      left: auto;
      right: -30px;
      background-position: -382px 9px;
    }

    .owl-prev span,
    .owl-next span {
      display: none;
    }
  }
}

@media (max-width: 1300px) {

  .blockquote {
    width: calc(100% - 70px);
    margin: 0 auto;

    .blockquote-slider {

     &__text:after {
       right: -35px;
     }

    }

    .owl-dots {
      right: -35px;
    }
  }
}

@media (max-width: 1150px) {

  .blockquote {

    .blockquote-slider {

      &__text:after {
        right: 0;
      }
    }
  }
}

@media (max-width: 960px) {

  .blockquote {

    .blockquote-slider {

      &__item {
        flex-direction: column;
        align-items: center;
      }

      &__photo {
        margin: 0 0 40px;
      }

      &__info {
        display: flex;
        flex-direction: column;
      }

      &__text {
        text-align: center;
        margin-bottom: 20px;

        &:before {
          left: -20px;
        }

        &:after {
          bottom: -15px;
        }
      }

      &__author:before {
        left: -20px;
      }
    }
  }
}

@media (max-width: 650px) {

  .blockquote {
    width: 100%;

    .blockquote-slider {
      padding: 35px 20px 50px;

      &__info {
        margin: 0 25px;
      }
    }

    .owl-dots {
      right: -10px;
    }
  }
}