.gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: 25%;
    position: relative;

    &_cont {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(83,99,219, .8);
      opacity: 0;
      @include transition;

      &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $white;
        border-radius: 50%;
      }
    }

    &:hover .gallery__item_cont {
      opacity: 1;
    }
  }

}

@media (max-width: 960px) {

  .gallery {

    &__item {
      flex-basis: 50%;
    }

  }

}

@media (max-width: 480px) {

  .gallery {

    &__item {
      flex-basis: 100%;
    }

  }

}