.program {
  padding: 125px 0 100px;

  .title {
    text-align: center;
    margin-bottom: 70px;

    &__descr {
      font: 41px/61px "Freestyle Script", serif;
      color: $title-descr;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 49%;
    max-width: 570px;
    display: flex;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  }


  &__photo {
    flex-basis: 50%;
    height: 300px;
  }

  &__img {
    height: 100%;
    border-radius: 5px 0 0 5px;
  }

  .info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 30px;

    &__title {
      margin-bottom: 15px;
    }

    &__text {
      line-height: 22px;
      margin-bottom: 15px;
    }

    &__program-type {
      color: #999;
    }

  }

}

@media (max-width: 1200px) {

  .program {

    .info__title {
      line-height: 30px;
    }

  }

}

@media (max-width: 980px) {

  .program {
    padding: 70px 0;

    &__container {
      justify-content: center;
    }

    &__item {
      flex-basis: 100%;
    }

    .title {
      margin-bottom: 40px;
    }
  }

}

@media (max-width: 650px) {

  .program {

    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__photo {
      padding: 20px;
    }

    &__img {
      border-radius: 0;
    }

    .info {
      padding: 15px 30px 30px;

      &__title {
        text-align: center;
      }
    }

  }

}