.slider {

  &__item {
    background: url("../img/slide-1.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 600px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(83, 99, 219, 0.8);
    }

  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 100%;
    padding: 200px 0 100px;
  }

  .form__wrap {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 42px;
  }

  &__info {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-left: 50px;
  }

  &__title {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__descr {
    font: 40px "Freestyle Script", serif;
    color: $white;
  }

}

@media (max-width: 1200px) {

  .slider {

    .form__wrap {
      padding-right: 20px;
    }

    &__info {
      padding-left: 20px;
    }

    &__title {
      font-size: 40px;
      line-height: 64px;
      margin-bottom: 25px;
    }

  }

}

@media (max-width: 760px) {

  .slider {

    &__item {
      padding: 15% 0 0;
    }

    &__content {
      flex-wrap: wrap;
    }

    .form__wrap {
      padding-right: 0;
      padding-top: 20px;
      flex-basis: 100%;
      display: flex;
      justify-content: center;
    }

    &__info {
      padding-left: 0;
      flex-basis: 100%;
      order: -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__title {
      font-size: 35px;
      line-height: 50px;
      margin-bottom: 15px;
    }

    &__descr {
      font-size: 30px;
    }

  }

}

